h1 {
  text-align: center;
}
.cover-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.info-link{
  text-align: center
}

.questions {
  text-align: center
}

.reasons {
  text-align: center;
  text-align: justify;
  list-style-position: inside;
}
h2 {
  text-align: center;
}
